
body{
    font:14px/18px "Arial",Arial,Helvetica,sans-serif;  
}
.page-header{
width: 100%;
height: 90px;
background-color: #015ab4;
}
/* justify-content: space-between day cac tiem ve 2 dau  */
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.logo img{
    width: 80px;
    height: 80px;
}

/* dùng để cách phía trên 5px */
/* display flex cú pháp về cách hiển thị "giong voi chia table"de dan trang */
.logo{
    padding-top: 5px;
    display: flex;
}
.text-logo div{
    margin: 0;
    color: white;
    font-weight:100; /*3 cap lenh giup dan trang khi thu nho man hinh*/
    width:auto;      /*3 cap lenh giup dan trang khi thu nho man hinh*/
    display:inline-block;/*3 cap lenh giup dan trang khi thu nho man hinh*/
}

/* flex-direction dung de hien thi theo cot va jusstify dung de canh giua tren duoi */
.text-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
}

.conten-registration{
    background-color:#5bc0de;
    display: flex;
    height:70px ;
    justify-content: space-between;
    color: white;
    margin: 0px;
    border-radius: 10px; /*bo cac goc*/ 
    padding:5px;
}
.page-conten{
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 10px;
}
.sign-in{
    float: right;
    height: 60px;
    padding-top: 10px;
    
}
.conten-region{
    padding-top: 5px;
    
}
.conten-region-select{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.conten-region-select a img{
    padding: 3px;
    width: 60px;
    height: 40px;
    border: 1px solid #eaeaea;
    margin-right: 5px;
}
.conten-gate{
    padding-bottom: 10px;
}
.user-declare{
    display: flex;
    border: 2px solid white;
    flex-direction: row;
    padding-top: 10px;
}
.user-declare div{
    margin-right: 40px;
}
.date-start-end{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.date-start{
    margin-right: 100px;
    height: auto;
}
.page-footer{
     width: 100%;
    height: 90px;
    background-color: #015ab4;
    text-align: center;
}
.simptom{
    border: 1px solid;
    width: 80%;
    margin: opx;
    text-align: center;
}
.simptom th{
    border: 1px solid;
}
.simptom td{
    border: 1px solid;
}

